    
body
    display: flex
    align-items: center
    background: url(../img/cooper_1.jpg)
    color: #f3efe3

.content
    width: 1170px
    height: 2000px
    border: 3px solid #696969
    margin: 0 auto
    margin-top: 100px
    background: url(../img/cooperr.png) no-repeat


// Стили основного текста (3 строки)
.main-text
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 246px
    margin-left: 599px
    width: 515px 
    height: 258px

    p
        text-transform: uppercase

    
.main-text__row1
    font-size: 85px
    margin-top: -21px
    letter-spacing: 1px

.main-text__row2
    font-size: 175px
    letter-spacing: 1px
    margin-top: -36px

.main-text__row3
    margin-top: -17px
    font-size: 76px
    letter-spacing: 1px

.timer
    margin-top: 74px
    margin-left: 662px
    display: flex
    
.timer-column
    text-align: center
    margin: 10px

    h1
        display: inline-block
        font-size: 50px
        margin: 0 auto
        margin-top: -6px 

.timer-column__numbers
    display: flex

.timer-column__number-box
    margin: 2px
    text-align: center
    width: 47px
    height: 83px
    background: url('../img/time.png')

    p
        margin-top: 1px
        display: inline-block
        font-size: 69px
