@font-face {
  font-family: 'CanterBold';
  src: url("../fonts/CanterBold.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome.ttf");
}

body {
  min-width: 1167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/cooper_1.jpg);
  color: #f3e3e3;
  font-family: 'CanterBold';
}

.content {
  margin: 0 auto;
  min-width: 1167px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4000px;
  margin-top: 100px;
  background: url(../img/cooperr.png) no-repeat, url(../img/bc_dublicate.png) repeat;
  -webkit-box-shadow: 0px 0px 25px 10px #2e2e2e;
          box-shadow: 0px 0px 25px 10px #2e2e2e;
}

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 246px;
  margin-left: 599px;
  width: 515px;
  height: auto;
}

.main-text p {
  text-transform: uppercase;
}

.main-text__row1 {
  font-size: 85px;
  margin-top: -21px;
  letter-spacing: 1px;
}

.main-text__row2 {
  font-size: 175px;
  letter-spacing: 1px;
  margin-top: -36px;
}

.main-text__row3 {
  margin-top: -17px;
  font-size: 76px;
  letter-spacing: 1px;
}

.timer {
  margin-top: 74px;
  margin-left: 662px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer-column {
  text-align: center;
  margin: 10px;
}

.timer-column h1 {
  display: inline-block;
  font-size: 50px;
  margin: 0 auto;
  margin-top: -6px;
}

.timer-column__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer-column__number-box {
  margin: 2px;
  text-align: center;
  width: 47px;
  height: 83px;
  background: url("../img/time.png");
}

.timer-column__number-box p {
  margin-top: 1px;
  display: inline-block;
  font-size: 69px;
}

.join-section {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 390px;
}

.header-text {
  color: #515253;
  text-transform: uppercase;
  font-size: 72px;
  margin-top: -18px;
}

.join-section__container {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 469px;
  height: 259px;
  border: 1px solid #b8b6b1;
  margin-right: 35px;
  -webkit-box-shadow: 6px 12px 27px 1px #c1c1c1;
          box-shadow: 6px 12px 27px 1px #c1c1c1;
}

.contact-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: url("../img/paper.png");
  width: 469px;
  height: 259px;
  border: 1px solid #b8b6b1;
  margin-left: 35px;
  -webkit-box-shadow: 6px 12px 27px 1px #c1c1c1;
          box-shadow: 6px 12px 27px 1px #c1c1c1;
}

.paper {
  width: 100%;
  height: 100%;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tape-left {
  position: absolute;
  top: -33px;
  left: -24px;
}

.tape-right {
  position: absolute;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  top: -33px;
  right: -24px;
}

.contact-form form {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-form__input-name,
.contact-form__input-email,
.contact-form__input-message {
  font-size: 14px;
  font-family: "Georgia";
  color: #a9a49e;
  font-style: italic;
  border: none;
  position: absolute;
}

.contact-form__input-name {
  margin-left: 30px;
  margin-top: 53px;
}

.contact-form__input-email {
  margin-left: 240px;
  margin-top: 53px;
}

.contact-form__input-message {
  margin-left: 30px;
  margin-top: 96px;
}

.contact-form__submit-btn {
  font-family: 'CanterBold';
  margin-left: 180px;
  margin-top: 179px;
  border: none;
  text-transform: uppercase;
  font-size: 30px;
  background: transparent;
  color: #515253;
}

footer {
  z-index: 100;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address {
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.address__text {
  font-size: 16px;
  font-family: "Georgia";
  color: #32363a;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
}

.address__icon {
  font-size: 24px;
  font-family: "FontAwesome";
  color: #313436;
  line-height: 1;
  text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.004);
  z-index: 90;
  margin-right: 9px;
  margin-top: 4px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 200;
  color: black;
}

.social-icons ul li {
  font-size: 60px;
  font-family: "FontAwesome";
  color: #313435;
  line-height: 0.4;
  -moz-transform: matrix(0.70068, 0, 0, 0.69981, 0, 0);
  -webkit-transform: matrix(0.70068, 0, 0, 0.69981, 0, 0);
  -ms-transform: matrix(0.70068, 0, 0, 0.69981, 0, 0);
  width: 52.76px;
  height: 42.852px;
  z-index: 85;
  margin: 0 22px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .join-section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .map {
    margin: 0px;
    width: 938px;
    height: 518px;
  }
  .address__icon {
    margin-left: 17.16px;
  }
  .contact-form {
    margin: 60px 0 0 0;
    width: 938px;
    height: 518px;
  }
  .address__icon {
    font-size: 30px;
  }
  .address__text {
    font-size: 30px;
  }
  .social-icons ul {
    margin-left: -59px;
  }
  .social-icons ul li {
    font-size: 150px;
    margin: 0 100px;
  }
}

@media (max-width: 480px) {
  .contact-form {
    margin: 80px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */